<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <h3 class="footer-heading">原作者：</h3>

    {%- for author in site.authors -%}
    {%- if author.corresponding -%}
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">{{ author.name | escape }}</li>
          <li>
          {%- if author.email -%}
            <a class="u-email" href="mailto:{{ author.email }}">{{ author.email }}</a>
          {%- endif -%}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        {%- if author.blurb -%}
        <p>{{- author.blurb | escape -}}</p>
        {%- endif -%}
      </div>
    </div>
    {%- endif -%}
    {%- endfor -%}
    
    {%- if page.title == '使用说明' or page.title == '目录' -%}
      <h3 class="footer-heading">译者：</h3>
      <p>{{ site.pages | map: "translators" | compact | uniq | sort_natural | join: ", " | escape }}</p>
    {%- else -%}
      {%- if page.translators -%}
        {%- if page.progress -%}
          {% assign progress = page.progress %}
        {%- else -%}
          {% assign progress = 0 %}
        {%- endif -%}
        <h3 class="footer-heading">本章翻译进度：{{ progress }}%</h3>
        <h3 class="footer-heading">本章译者：</h3>
        <p>{{ page.translators | join: "，" | escape }}</p>
      {%- else -%}
        <h3 class="footer-heading">本章暂无翻译</h3>
      {%- endif -%}
    {%- endif -%}
    本作品采用<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">知识共享署名 4.0 国际许可协议</a>进行许可。<br />
    This work is licensed under a <a rel="license" href="{{ site.license-file }}">{{ site.license }}</a>
  </div>
</footer>
