<p style="text-align:center;">
    {% if page.prev %}
    <a alt="Previous chapter" href="{{ site.baseurl }}{{ page.prev }}">上一章</a>
    {% endif %}
    {% if page.prev and (page.src or page.next) %}
    &bullet;
    {% endif %}
    {% if page.src %}
    <a alt="Source code" href="https://github.com/{{ site.repository }}/blob/{{ site.branch }}/{{ page.src }}">源代码</a>
    {% endif %}
    {% if page.src and page.next %}
    &bullet;
    {% endif %}
    {% if page.next %}
    <a alt="Next chapter" href="{{ site.baseurl }}{{ page.next }}">下一章</a>
    {% endif %}
</p>
